/*all login form*/
.close {
    display: block;
    float: inline-end;
    font-size: 25px;
    cursor: pointer;
}

#loginpanel {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 0%;
}

#idloginimag {
    height: 8%;
    width: 25%;
    display: block;
    margin-bottom: 5%;
    margin-left: 37%;
}

#idloginform {
    border-radius: 10px;
    transform: translate(80%, 0%);
    padding: 2%;
    width: 30%;
    border: 3px solid yellowgreen;
    background-color: rgb(121, 118, 118);
}

.loginlabel {
    font-size: 125%;
    margin-bottom: 3%;
    margin: 2% 0%;
    width: 20%;
    display: inline-flex;

}
.user_input {
    border: none;
    background: transparent;
    border-bottom: 2px solid;
    margin: 2% 0%;
    font-size: 105%;
    height: 60%;
    width: 45%;
    border-radius: 5px;

}
#password {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
#pwd_show, 
#pwd_hide{
    height: 7%;
    width: 7%;
    cursor: pointer;
}

/* #email{
    margin-left: 10%;
} */
.login_select {
    font-size: 125%;
    margin-bottom: 3%;
    margin: 5% 1%;
    width: 30%;
    display: inline-flex;
}

#login_person {
    font-size: 107%;
    margin-bottom: 3%;
    background: transparent;
}

/* keem me sign in btn */
#keep_sign {
    margin: 2% 3% 2% 30%;
}

/* registration buttion of login form */
.log_register {
    margin: 5% 2% 1% 2%;
    display: flex;
    justify-content: center;
    font-size: 120%;
}
.log_register a{
    color: yellow;
    font-size: 110%;
    cursor: pointer;
    margin: 0% 0% 1% 2%;
}
.log_register a:hover{
    color: rgb(146, 189, 61);
}
.loginclick {
    background-color: rgb(233, 193, 193);
    padding: 0.4%;
    margin-top: 3%;
    font-size: 110%;
    width: 27%;
}

#login_submit {
    float: inline-end;
}

/* login error check msg */
.login_err {
    color: rgb(179, 2, 2);
}